/* PC */
@media (min-width: 1024px) {
  #header .mobile-bars {
    display: none;
  }
  #nav {
    display: inline-block !important;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
  #header .mobile-bars {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 740px) {
  #header {
  }

  #header .mobile-bars {
    float: left;
  }

  #header .bar-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
  }

  #nav {
    display: none;
    position: absolute;
    top: 46px;
    left: 0;
    background-color: #000;
  }

  #nav li {
    display: block;
  }

  #nav .subnav {
    padding: 5px 12px;
  }

  .s-full-width,
  .s-col-full {
    width: 100%;
  }

  .slider-btn {
    display: none !important;
  }

  .s-mt-16 {
    margin-top: 16px;
  }
}
